version: "3.9"

services:
  proxy:
    build: ./caddy
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - "./caddy/config:/app/config:ro"
      - "certs:/ca_cert"
    networks:
      platform:
        ipv4_address: 10.5.0.2

  dns:
    image: 4km3/dnsmasq:2.85-r2
    ports:
      - "53:53/tcp"
      - "53:53/udp"
    cap_add:
      - NET_ADMIN
    command: --address="/#/10.5.0.2"
    networks:
      platform:
        ipv4_address: 10.5.0.3

  worker:
    build: ./worker
    dns:
      - 10.5.0.3
    volumes:
      - "certs:/caddy_ca_cert"
    networks:
      platform:
        ipv4_address: 10.5.0.4

networks:
  platform:
    ipam:
      config:
        - subnet: 10.5.0.0/16
          gateway: 10.5.0.1

volumes:
  certs:
